<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog mw-100 w-75">
    <div class="modal-content" style="padding-left: 10vh; padding-right: 10vh;">
      <div>
        <h2 class="mt-3 text-center">Dataset Format</h2>
        <br/>
        <h6>
          The dataset should be a compressed <mark>.zip</mark> file and the
          images and classes should be organized as shown in the figure below.
        </h6>
        <p>
          The dataset should not be more than <b>200 MB</b>.
          <br/><br/>
          <h5 style="display:inline;">Allowed file extension: <h2 style="display:inline;"><mark>.zip</mark></h2></h5>
          <br/><br/>
          <b>Recommendations:</b>
          <ul>
            <li>
                If you have
          only two classes in your dataset, upload atleast 10 image of each
          category and select 80:20 ratio for training.
            </li>
            <li>
                If you have 10 classes
          in your dataset, upload 100 images of each and choose 70:30 ratio for
          better results.
            </li>
          </ul> 
        </p>
        <div class="text-center">
            <img
          src="{{url_for('static', filename='information/image_classification.png')}}"
          class="card-img-top"
          style="width: 45vw;"
        />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
