{% include 'link.html' %}
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ popupHeading }}</h5>
      </div>
      <div class="modal-body" style="text-align: center">
        <p>{{ popupMessage }}</p>
        <br />
        <p>{{ userData }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          data-dismiss="modal"
          class="btn btn-outline-primary mt-1"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% include 'script.html' %}
