@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700");

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

.heading {
  text-align: center;
  margin-top: 1.5rem;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

section {
  position: relative;
  background-image: url("2.jpeg");
  background-size: cover;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  color: white;
  overflow: hidden;
}

section .container {
  position: relative;
  z-index: 2;
}

section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}
