{%extends 'index.html' %}{% block content%}

<script>
  function showDiv() {
    document.getElementById('loading').style.display = 'block';
  }
</script>

<!-- prettier-ignore -->
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
<div class="alert alert-info mt-4" role="alert">
  <i class="far fa-edit"></i>
  {{ message }}
</div>
{% endfor %} {% endif%} {% endwith %}

<!-- prettier-ignore -->
{% if alert %}
<div class="alert alert-warning mt-4" role="alert">
  <i class="fas fa-exclamation-circle"></i>{{ alert }}
</div>
{% endif %}

<h1 style="padding-top: 20px">Customize the training!</h1>
<hr />

<form
  class="mt-5"
  action="{{url_for('train_image')}}"
  method="POST"
  enctype="multipart/form-data"
>
  <div class="form-row">
    <div class="form-group col-6 mx-auto">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Username</span>
        </div>
        <input
          type="text"
          name="user_name"
          class="form-control"
          pattern="[A-Za-z]+"
          title="Username must contain alphabets only."
          required
        />
      </div>
    </div>
  </div>

  <div class="form-row mt-4">
    <div class="form-group col-6 mr-auto text-center">
      <div class="my-3">Select a model</div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="model1"
          name="modelname"
          class="custom-control-input"
          value="mobilenetv2"
          checked
        />
        <label class="custom-control-label" for="model1"
          ><h5>
            <span class="badge badge-pill badge-info">MobileNet V2</span>
          </h5></label
        >
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="model2"
          name="modelname"
          class="custom-control-input"
          value="resnet"
        />
        <label class="custom-control-label" for="model2"
          ><h5>
            <span class="badge badge-pill badge-info">Resnet 34</span>
          </h5></label
        >
      </div>
    </div>
    <div class="form-group col-6 ml-auto text-center">
      <div class="my-3">Select training-validation set ratio</div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="ratio1"
          name="ratio"
          class="custom-control-input"
          value="8"
          checked
        />
        <label class="custom-control-label" for="ratio1"
          ><h5>
            <span class="badge badge-pill badge-info">80: 20</span>
          </h5></label
        >
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="ratio2"
          name="ratio"
          class="custom-control-input"
          value="7"
        />
        <label class="custom-control-label" for="ratio2"
          ><h5>
            <span class="badge badge-pill badge-info">70 : 30</span>
          </h5></label
        >
      </div>
    </div>
  </div>

  <div class="form-row mt-4">
    <div class="col-1"></div>
    <div class="form-group col-4 mr-auto text-center">
      <div class="my-3">Batch Size</div>
      <div>
        <input
          class="form-control shadow p-3 mb-5 bg-white rounded"
          name="batch_size"
          type="text"
          style="text-align: center"
          pattern="^[1-9]$|^[1-9][0-9]$|^(128)$"
          title="Batch size must be a number between 1 and 128."
          required
        />
      </div>
    </div>
    <div class="col"></div>
    <div class="form-group col-4 mr-auto text-center">
      <div class="my-3">Epoch</div>
      <div>
        <input
          class="form-control shadow p-3 mb-5 bg-white rounded"
          name="epoch"
          type="text"
          style="text-align: center"
          pattern="^[1-9]$|^[1-9][0-9]$|^(10)$"
          title="Epoch must be a number between 1 and 10."
          required
        />
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="form-row">
    <div class="form-group col-12 text-center">
      <div class="input-group">
        <div>
          <h5><span class="badge badge-info">Upload dataset</span></h5>
          <input type="file" id="dataset" name="dataset_file" accept="" />
          <p style="font-size: small">
            The dataset should not be more than 200 MB. Recommended: If you have
            only two classes in your dataset, upload atleast 10 image of each
            category and select 80:20 ratio for training. If you have 10 classes
            in your dataset, upload 100 images of each and choose 70:30 ratio
            for better results.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 mt-5 text-center">
      <button
        type="submit"
        class="btn btn-outline-primary"
        href="image_training.html"
        onclick="showDiv()"
      >
        Begin Training</button
      ><br /><br />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 text-center">
      <div id="loading" style="display: none; padding-left: 10px">
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-info"></div>
      </div>
    </div>
  </div>
</form>
{% if popup %} {% include 'popup_training.html' %} {% endif %} {% endblock %}
