<footer class="footer mt-5 py-3">
  <div class="container">
    <div class="row">
      <div class="col-6 text-left">
        <img
          src="{{url_for('static', filename='information/logo.png')}}"
          style="height: 2rem"
          alt="logo"
        />
        <span class="text-muted ml-3">Tanoshi</span>
      </div>
      <div class="col-6 text-right">
        <span class="text-muted mr-3">
          <a class="anchor-black" href="https://github.com/rvk007/Tanoshi">
            GitHub
          </a>
        </span>
        <img
          src="{{url_for('static', filename='information/github_logo.png')}}"
          style="height: 1.5rem"
          alt="github"
        />
      </div>
    </div>
  </div>
</footer>
